<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
<title>Little Mix Tribute</title>
</head>
<body>

    <h1>Little Mix Tribute Page</h1>
    <p>Little Mix are a British girl group formed in 2011 during the eighth series of the British version of The X Factor. The group consists of Jade Thirlwall, Perrie Edwards, Leigh-Anne Pinnock and were previously a four-piece until former member Jesy Nelson left the band in December 2020.</p>
    <p>The group are known for their strong vocals and signature harmonies, as well as their representative songs about female empowerment and unity. Since winning The X Factor UK Little Mix have gone on to release six UK top 5 studio albums, five of which are platinum certified and one of which being #1 and five UK #1 singles and have become one of the most successful girl groups this century.</p>
    <p>Early 2020 saw the group issue the single "Break Up Song," which was followed by "Holiday" in July. Both tracks appeared on their sixth album, Confetti, later in the year. September brought their own TV show to BBC One. As it progressed, Little Mix: The Search gave competing groups the chance to win a place on the quartet's 2021 Confetti tour.</p>
    <p></p>
    <a href="https://www.little-mix.com/"> go to their website</a>
</body>
</html>